In [15]:
import glob
import pickle
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [16]:
data = np.loadtxt('../stock_data/NASDAQ/AAL')

In [35]:
prices,volume = data.T

def return_samples(data):
    formatted_data = []

    for i in range(len(data) - 21):
        slicee = data[i:i+21]
        formatted_data.append(slicee)
    return np.array(formatted_data)

formatted_prices = return_samples(prices)
formatted_volumes = return_samples(volume)
#formatt = np.concatenate(formatted_prices,formatted_volumes)
formatt = np.vstack((formatted_prices,formatted_volumes))
print(formatt.shape)
df = pd.DataFrame(formatted_prices)
df.head()

(7262, 21)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,12.19,12.25,14.04,15.66,15.39,13.92,10.25,10.38,10.29,11.65,...,15.92,14.31,13.45,16.26,17.00,14.75,15.97,16.04,18.53,17.85
1,12.25,14.04,15.66,15.39,13.92,10.25,10.38,10.29,11.65,15.58,...,14.31,13.45,16.26,17.00,14.75,15.97,16.04,18.53,17.85,18.86
2,14.04,15.66,15.39,13.92,10.25,10.38,10.29,11.65,15.58,15.92,...,13.45,16.26,17.00,14.75,15.97,16.04,18.53,17.85,18.86,19.05
3,15.66,15.39,13.92,10.25,10.38,10.29,11.65,15.58,15.92,14.31,...,16.26,17.00,14.75,15.97,16.04,18.53,17.85,18.86,19.05,20.60
4,15.39,13.92,10.25,10.38,10.29,11.65,15.58,15.92,14.31,13.45,...,17.00,14.75,15.97,16.04,18.53,17.85,18.86,19.05,20.60,22.31

In [14]:
plt.plot(data[:,0])
print(len(data))

3652

In [39]:
250*500/1000
x = np.vstack((np.empty((0,21)),formatted_prices))
x.shape

(3631, 21)

In [41]:
## Create massive text file with all prices / all volumes :
files = glob.glob('../stock_data/NASDAQ/*')
prices = np.empty((0,21))
volumes = np.empty((0,21))
for f in files: 
    data = np.loadtxt('../stock_data/NASDAQ/AAL')
    price,volume = data.T
    formatted_prices = return_samples(price)
    formatted_volumes = return_samples(volume)
    prices = np.vstack((prices,formatted_prices))
    volumes = np.vstack((volumes,formatted_volumes))

In [43]:
np.savetxt('../stock_data/price_matrix.txt',prices)

In [44]:
np.savetxt('../stock_data/volume_matrix.txt',volumes)